<!-- Navbar -->
<nav class="navbar">
  <div class="logo">
    <img src="assets/logo.png" alt="Logo Hôpital" />
  </div>

  <ul class="nav-links">
    <li>
      <a href="#" class="urgence-link">
        <img src="assets/alerte.gif" alt="Urgence" class="urgence-gif" />
        URGENCE
      </a>
    </li>
    <li><a href="#">Accueil</a></li>
    <li><a href="#">Explorer</a></li>
    <li><a href="#">À propos</a></li>
    <li><a href="#">Centre d'aide</a></li>
    <li><a href="#">Se Connecter</a></li>
  </ul>
</nav>

<!-- Composant Accueil (vidéo + texte) -->
<app-accueil></app-accueil>
